$RobotoName: "Roboto" !default;
$RobotoFamily: "Roboto" !default;
$RobotoPath: "../fonts/Roboto" !default;
$RobotoVersion: "1.0" !default;

$YesteryearName: "Yesteryear" !default;
$YesteryearFamily: "Yesteryear" !default;
$YesteryearPath: "../fonts/Yesteryear" !default;
$YesteryearVersion: "1.0" !default;
