@use "./mixins" as *;

@font-face {
  font-family: "Roboto";
  @include font-definition("Roboto", "../assets/fonts/Roboto", "Black");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  @include font-definition("Roboto", "../assets/fonts/Roboto", "Bold");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  @include font-definition("Roboto", "../assets/fonts/Roboto", "Medium");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  @include font-definition("Roboto", "../assets/fonts/Roboto", "Regular");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  @include font-definition("Roboto", "../assets/fonts/Roboto", "Light");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  @include font-definition("Roboto", "../assets/fonts/Roboto", "Thin");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Yesteryear";
  @include font-definition(
    "Yesteryear",
    "../assets/fonts/Yesteryear",
    "Regular"
  );
}
